{% load static %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateCommentModal{{ comment.id }}" title="Modifier le commentaire">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
  </svg>
</button>

<!-- Modal -->
<div class="modal fade" id="updateCommentModal{{ comment.id }}" tabindex="-1" aria-labelledby="updateCommentModalLabel{{ comment.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{% url 'update_comment' post.id comment.id %}" method="post">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateCommentModalLabel{{ comment.id }}">Modifier le commentaire</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Auteur</label>
            <input
              type="text"
              class="form-control"
              name="author"
              value="{{ comment.author }}"
              disabled
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Commentaire</label>
            <textarea class="form-control" rows="3" name="content" required>{{ comment.content }}</textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-circle" data-bs-dismiss="modal">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </button>
        <button type="submit" class="btn btn-primary rounded-circle" title="Modifier votre commentaire" onclick="return confirm('Votre commentaire va être modifié!')">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
          </svg>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  const updateCommentModal = document.getElementById("updateCommentModal{{ comment.id }}");
  const updateCommentInput = document.getElementById("updateCommentInput{{ comment.id }}");

  updateCommentModal.addEventListener("shown.bs.modal", () => {
    updateCommentInput.focus();
  });
</script>